<h1>Time Scanner</h1>

<form method='POST' action='/'>
  <input type='text' name='q' placeholder='Enter the string'>
  <button type='submit'>
    Check
  </button>
  <br><br><small style='color:grey'>Enter a string to check if it contains time (natural or UNIX).</small>
</form>

{{#if data}}
<h1>{{data.natural}}</h1>
<h1>{{data.unix}}</h1>
{{/if}}