<h1>Time Scanner</h1>

<form method='GET'>
  <input type='text' name='q' placeholder='Enter the string'>
  <button type='submit'>
    Check
  </button>
  <br><br><small style='color:grey'>Enter a string to check if it contains time (natural or UNIX).</small>
  
</form>